#displyDiv
{
	position:absolute;
	width:100%;
	height:15%;
	background-color:#D9DEDD;
}

#logoImg
{
	position:relative;
	height:100%;
	width:25%;
	left:2%;
}

#signInModule
{
	position:relative;
	top:-90%;
	left:60%;
	color:#9E9E9E;
}
input
{
	border:1px solid silver;
	height:100%;
}
a
{
	color:blue;
	font-size:12.5px;
}

#signin-btn
{
	position:relative;
	left:10%;
	top:0%;
	height:35px;
}

#sign-Up
{
	position:absolute;
	width:50%;
	height:85%;
	left:50%;
	top:15%;
}
i
{
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
	font-weight: normal ;
	text-rendering: optimizelegibility;
}
.name-widgets
{
	border-radius:5px;
	border:1px solid silver;
	height:170%;
}

.signup-widgets
{
	border-radius:5px;
	border:1px solid silver;
	height:170%;
}
#signup-btn
{
	position:relative;
	width:30%;
	height:10%;
	border-radius:10px;
}

#signUpAd
{
	position:relative;
	top:35%;
}

#errorDiv
{
	width:75%;
	padding:1%;
	background-color:silver;
	color:red;
	margin:10px 10px 2px 2px;
	border:1px solid red;
	border-radius:3px;
}
